@{
    Layout = null;
    var title = ViewData["Title"] ?? "Bookstore";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@title - Bookstore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <partial name="_Nav" />
    <div class="container mt-4">
        @RenderBody()
    </div>

    <partial name="_Scripts" />
</body>
</html>